.ny-image-container {
  position: relative;
}
.broadway-div {
  width: 7%;
  height: 6.2%;
  position: absolute;
  left: 53.5%;
  bottom: 84.2%;
  border: 3px solid red;
  border-radius: 5px;
}
.hotdog-div{
  width: 3%;
  height: 9%;
  position: absolute;
  left: 15.5%;
  bottom: 32%;
  border: 3px solid red;
  border-radius: 5px;
  display: none;
}
.iloveny-div {
  width: 2.7%;
  height: 9%;
  position: absolute;
  left: 46%;
  bottom: 42%;
  border: 3px solid red;
  border-radius: 5px;
}
.police-div {
  width: 3%;
  height: 8%;
  position: absolute;
  left: 52%;
  bottom: 61%;
  border: 3px solid red;
  border-radius: 5px;
}